<h2>Campaign Digest</h2>

<p>
  Campaign: <strong><%= ERB::Util.html_escape(@campaign_key.presence || "(none)") %></strong><br>
  User: <strong><%= ERB::Util.html_escape(@user.username) %></strong>
</p>

<p>Topics:</p>

<ol>
  <% @topic_ids.each do |tid| %>
    <% info = @topic_map[tid] %>
    <% if info %>
      <li>
        <a href="<%= topic_url(tid, info[:slug]) %>"><%= ERB::Util.html_escape(info[:title]) %></a>
        <span style="color:#666;">(#<%= tid %>)</span>
      </li>
    <% else %>
      <li>
        Topic #<%= tid %> <span style="color:#b00;">(not found)</span>
      </li>
    <% end %>
  <% end %>
</ol>

<hr>

<p style="color:#666;">
  You received this email because you have an account on <%= ERB::Util.html_escape(SiteSetting.title) %>.
</p>
